<div fxLayoutAlign="space around centre" fxLayout="column" fxFlex="100">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <div fxLayoutAlign="space around center" fxLayout="column">

        <form>
            <div fxLayout="column">

                <div class="app-bar" fxLayout="column" fxLayoutAlign="space-around center">

                    <mat-toolbar class="toolbar">
                        <div>
                            <button type="button" class="button" mat-button (click)="drawer.toggle()" matTooltip="Main Menu">
                             <mat-icon matSuffix>menu</mat-icon>
                 
                             </button>
                        </div>

                        <img class="gb_la gb_ae" alt="" aria-hidden="true" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
                            style="width:40px;height:40px">

                        <div>Keep</div>

                        <div class="searchmain">
                            <mat-card class="div-search" routerLinkActive="active">
                                <button mat-icon-button class="searchButton">
                                   <mat-icon>search</mat-icon>
                                </button>

                                <div>
                                    <input type="text" class="resizedTextbox" matInput placeholder="Search" autocomplete="off">
                                </div>
                                <button mat-icon-button class="searchButton">
                                        <mat-icon>clear</mat-icon>
                                     </button>
                            </mat-card>
                        </div>

                        <div class="lastComponents" fxLayoutAlign="column">
                            <div class="refreshButton" role="button">
                                <button mat-icon-button matTooltip="Refresh">
                                 <mat-icon>refresh</mat-icon>
                                </button>
                            </div>
                            <div class="list" role="button">
                                <button mat-icon-button (click)="changeView(show)" matTooltip="Grid view">
                      <mat-icon fontSet="material-icons-outlined" *ngIf="show">grid</mat-icon>
                      <mat-icon fontSet="material-icons-outlined" *ngIf="!show">view_agenda</mat-icon>
                    </button>
                            </div>
                            <div class="settingButton" role="button">
                                <button mat-icon-button matTooltip="Settings">
                      <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
                    </button>
                            </div>

                            <div class="appsButton" role="button">
                                <button mat-icon-button matTooltip="Google Apps">
                        <mat-icon fontSet="material-icons-outlined">apps</mat-icon>
                      </button>
                            </div>
                        </div>



                        <div style="width:10em;">
                            <mat-menu #vertebrates="matMenu" class="menuStyle" style="width:auto">
                                <div class="div-profilepic">
                                    <div class="image-upload">
                                        <label for="file-input">
                                    <img src="../../../assets/googlekeepicon.png" style="height: 110px;width: 110px; padding: 0px;margin: 0px;"/>
                                  </label>
                                        <input id="file-input" type="file" />
                                    </div>
                                </div>
                                <div class="profile-content">
                                    <div>
                                        <h3 style="color: rgb(65, 64, 64);">{{name}}</h3>
                                        <h4 style="color: rgb(71, 82, 94);">{{uName}}</h4>
                                    </div>
                                </div>

                                <div class="div-profile">
                                    <div class="div-signout">
                                        <button [routerLink]="['']" (click)="onClickClear()" mat-button class="signout-button">Signout</button>
                                    </div>
                                </div>
                            </mat-menu>
                        </div>

                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <img mat-card-avatar src={{profilePicUser}} class="profile1" />
                            </button>

                            <mat-menu #menu="matMenu">
                                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                                    <mat-card style="overflow: hidden">
                                        <div class="image-container" style="padding-top: 50%;">
                                            <!-- <img class="topic-avatar" mat-card-avatar src="{{ profilePicUser }}">
                                      <input type="file" (change)="onFileSelected($event)"> -->

                                        </div>
                                        <div>
                                            <img class="topic-avatar" mat-card-avatar src="{{ profilePicUser }}">
                                            <label class="btn-upload">
                                        <input type="file" name="fileupload" (change)="onFileSelected($event)">
                                        <button class="btn">Change</button>
                                    </label>

                                        </div>

                                        <div class="name">{{fname | uppercase}}</div>
                                        <div class="email">{{email}}</div>

                                    </mat-card>
                                </div>
                                <mat-divider></mat-divider>

                                <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-around  center">
                                    <button mat-raised-button (click)="logout()">Sign out</button>
                                </div>
                            </mat-menu>
                        </div>



                    </mat-toolbar>
                </div>

                <mat-divider class="divider"></mat-divider>


                <div class=sidenagivationpanel>
                    <mat-drawer-container class="example-container" autosize>
                        <mat-drawer #drawer class="sideNav-sidenav" mode="side" opened>

                            <div class="firstButton">
                                <button class="notesButton" mat-button (click)="navigateToNotes()">
      
                    <mat-icon class="noteIcon">lightbulb_outline</mat-icon>
                    <span class="note-label">Notes</span>
                  </button>
                            </div>

                            <div class="secondButton">
                                <button class="remindersButton" mat-button>
      
      
                    <mat-icon class="reminderIcon">notifications_none</mat-icon>
                    <span class="reminder-label">Reminders</span>
      
                  </button>
                            </div>
                            <mat-divider class="divider"></mat-divider>
                            <div class=labelsClass><span class="label">LABELS</span></div>

                            <div class="secondButton">
                                <div *ngFor="let label of listLabels">
                                    <button class="remindersButton" mat-button>
      
      
                      <mat-icon class="reminderIcon">label</mat-icon>
                      <span class="reminder-label">{{ label.name }}</span>
      
      
                    </button>
                                </div>
                            </div>



                            <div class="labelsButton" (click)="openPopup()">
                                <button class="remindersButton" mat-button>
      
      
                    <mat-icon fontSet="material-icons-outlined" class="reminderIcon">create</mat-icon>
                    <span class="reminder-label">Edit Labels</span>
      
                  </button>
                            </div>



                            <mat-divider class="divider"></mat-divider>

                            <div class="firstButton">
                                <button class="notesButton" mat-button (click)="navigateToArchive()">
      
                    <mat-icon fontSet="material-icons-outlined" class="noteIcon">archive</mat-icon>
                    <span class="note-label">Archive</span>
                  </button>
                            </div>

                            <div class="secondButton">
                                <button class="remindersButton" mat-button (click)="navigateToTrash()">
      
      
                    <mat-icon fontSet="material-icons-outlined" class="reminderIcon">delete</mat-icon>
                    <span class="reminder-label">Trash</span>
      
                  </button>
                            </div>

                        </mat-drawer>
                        <app-note></app-note>



                    </mat-drawer-container>
                </div>

            </div>
        </form>
    </div>
</div>