.emailField {
    text-align: center;
}

h5 {
    color: grey
}

h5 {
    text-align: center
}

.passUpdateMain {
    margin-top: 200px;
}

body {
    padding-top: 5px;
    // background-color: lightcoral;
    background-image: url("https://i.pinimg.com/originals/b8/c9/fc/b8c9fcda0dd158cfa658185ca77773b0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mat-card {
    opacity: 80%;
}

mat-raised-button {
    background-color: cornflowerblue
}