.RegistrationMain {
    //    width: 1000px;
    text-align: centre;
}

html {}

body {
    padding-top: 5px;
    // background-color: lightcoral;
    background-image: url("https://i.pinimg.com/originals/b8/c9/fc/b8c9fcda0dd158cfa658185ca77773b0.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row {
    margin-top: 0px;
}

.mat-card {
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 40px;
    opacity: 80%;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1), 0 1px 3px 0 rgba(0, 0, 0, 1);
}

.register {}

mat-toolbar {
    padding-left: 250px;
}

.matt-card-actions,
button,
mat-raised-button {
    background-color: cornflowerblue
}