<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="LoginMainMain" fxLayout="column" fxLayoutAlign="space-around center">


        <mat-card>

            <div class="login-text" fxLayout="column" fxLayoutAlign="space-around center">
                <mat-card-header>
                    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">

                    <mat-card-title>FUNDOO</mat-card-title>
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-card-subtitle>Login</mat-card-subtitle>

                </mat-card-header>
            </div>




            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <p>{{ errorMessage }}</p>

                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>


                        <input matInput placeholder="Email" formControlName="email" [(ngModel)]=username>

                        <mat-icon matSuffix>alternate_email</mat-icon>

                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>

                        <input matInput placeholder="Password" formControlName="password" [(ngModel)]=password>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>

                    <div class="submit1" fxLayout="row" fxLayoutAlign="space-around center">
                        <mat-card-actions><button mat-raised-button>Submit</button>
                            <!-- <div><a href=sendmail>Forgod Password ?</a></div> -->
                            <br/>
                        </mat-card-actions>
                    </div>
                    <div class="forgotpass" fxLayout="row" fxLayoutAlign="space-around center">
                        <span class="newuser">
                        

                                <a class="a" routerLink="/passwordupdate">Forgot Password?</a>
                       
                             </span>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <nav>
                            <a routerLink="/register">New User?</a>
                        </nav>
                    </div>


                </div>

            </form>
        </mat-card>
    </div>
</body>

</html>