<!DOCTYPE html>
<html lang="en" class="register">



<body>
    <div class="RegistrationMain" fxLayout="column" fxLayoutAlign="space-around center">
        <!-- fxLayout="column" fxLayoutAlign="space-around center" -->
        <mat-card>

            <div fxLayout="column" fxLayoutAlign="space-around center">
                <mat-card-header>
                    <mat-card-title>REGISTER HERE </mat-card-title>
                    <mat-icon matSuffix>event_note</mat-icon>
                </mat-card-header>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <!-- fxLayout="column" fxLayoutAlign="space-between center"  -->
                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="first name" formControlName="fname">
                            <mat-icon matSuffix>person_outline</mat-icon>

                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="last name" formControlName="lname">
                            <mat-icon matSuffix>person_outline</mat-icon>

                        </mat-form-field>
                    </div>


                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="email" formControlName="email">
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput placeholder="Mobno" formControlName="mob_number">
                            <mat-icon matSuffix>phone</mat-icon>

                            <mat-error *ngIf="registerForm.get('mob_number').hasError('pattern')">
                                Mobno pattern not correct
                            </mat-error>

                        </mat-form-field>

                    </div>


                    <div fxLayout="column" fxLayoutAlign="space-around center">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="password" type="password" formControlName="password">
                            <mat-icon matSuffix>lock</mat-icon>

                            <mat-error *ngIf="registerForm.get('password').hasError('required')">
                                Please fill out this field.
                            </mat-error>
                            <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
                                Password min length must be 4 digit.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-card-actions>
                            <button mat-raised-button>Submit</button>
                        </mat-card-actions>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</body>

</html>